<!DOCTYPE HTML>
<html>
  <head>
    <title>Curestraw</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>环球易诊</h1>
    <p>环球易诊公众号后台</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
    <p><a href="/settings">公众号后台调试</a></p>
  </body>
</html>
