<!DOCTYPE HTML>
<html>
  <head>
    <title>环球易诊</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>设置新的菜单</h1>
    <a href="/settings/setMenu">设置菜单s</a>
  </body>
</html>
